* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    background-color: rgb(41, 41, 41);
}

/* ########## FIRST SECTION ##########*/
#section_1{
    display: flex;
    
    align-items: center;
    margin-top: 60px;
    font-size: 40px;
    height: 600px;

    border: solid red;
}

#section_1_intestation{
    display: flex;
    flex-direction: column;

    width: 50%;
    height: 80%;

    border: solid blueviolet ;
}

#section_1_intestation_title{
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 70px;

    width: 100%;
    height: 50%;

    color: rgb(255, 153, 0);

    border: solid brown;
}

#section_1_intestation_subtitle{
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
    
    width: 100%;
    height: 30%;

    color: white;

    border: solid brown;
}

#section_1_intestation_buttons{
    display: flex;
    
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    height: 20%;

    border: solid brown;
}

.section_1_intestation_button{
    margin-left: 10%;
    margin-right: 10%;
    
    height: 40px;
    width: 120px;

    font-size: 18px;

    border-radius: 10px;

    background-color: rgb(255, 153, 0);
    
    a{
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
}

#section_1_image{
    display: flex;

    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;

    border: solid blueviolet;

    img{
        border-radius: 40px;
        object-fit: cover;

        width: 80%;
        height: 80%;

        border: solid green;
    }
}



/*########## SECOND SECTION ##########*/
#section_2{
    display: flex;
    flex-direction: column;
    
    font-size: 80px;
    border: solid red;
}

#section_2_Title{

    text-align: center;
    color: rgb(255, 153, 0);

    border: solid violet;
}

#section_2_lower{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    gap:40px;
    
    border: solid violet;
}

#section_2_Images{

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:"a b"
                        "c d";
    
    text-align: center;

    justify-self: center;

    border: solid violet;
}

.section_2_Image{
    
    border: solid blue;
    img{
        margin: 18px;
        margin-bottom: 0;
        border-radius: 15px;
        background-color: rgb(255, 153, 0);
        border: solid darkseagreen;
    }
}

#section_2_TimeTable {
    display: block;
    position: relative;
    align-content: center;

    height: 489px;
    width: 480px;

    

    border: solid violet;
}

#section_2_TimeTable_Row_Title{
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 153, 0);
}

.section_2_TimeTable_Row{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 10%;
    padding-left: 10%;
    padding-right: 10%;

    font-size: 20px;

    color: white;
    
    border: solid aquamarine;
}

/*########## THIRD SECTION ##########*/
#section_3{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: .75fr 1fr .75fr;
    gap: 20px;
    grid-template-areas:"a a a" 
                        "b c d"
                        "e c f"
                        "g c h";
    
    border-style: solid;
    border-color: red;
    font-size: 40px;
}

#section_3 > * {
    width: 100%;
    height: 100%;
}

#section_3_title {
    grid-area: a;
    text-align: center;
    margin: 0;
    border: 2.5px solid purple;
    color: white;
}

.section_3_center_column {
    grid-area: c;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    border: 2.5px solid green;

    /*Daniele se mai vedrai sto pezzo sotto aiutami*/
    .slideshow-container{
        border-style: solid;
        border-color: aqua;
        height: 100%;
        width: 100%;
        object-fit: cover;
        .mySlides{
            border-style: solid;
            border-color: aqua;
            display: none;
            height: 100%;
            width: 100%;
            object-fit: cover;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    
    .slide-button{
        display: flex;

        border: solid aqua;
        width: 100%;

        /* Next & previous buttons */
        .prev{
            cursor: pointer;
            text-align: center;
            padding: 10px;
            width: 50%;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;

            border: solid violet;
        }
        .next {
            cursor: pointer;
            text-align: center;
            padding: 10px;
            width: 50%;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;

            border: solid violet;
        }
        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
        }
    }
}

.section_3_names {
    text-align: center;
    color: white;

    border: 2.5px solid yellow;
}
.section_3_names:nth-of-type(1) {
    grid-area: b;
}
.section_3_names:nth-of-type(2) {
    grid-area: d;
}
.section_3_images:nth-of-type(1) {
    grid-area: e;
}
.section_3_images:nth-of-type(2) {
    grid-area: f;
}

.section_3_descriptions:nth-of-type(1) {
    grid-area: g;
}
.section_3_descriptions:nth-of-type(2) {
    grid-area: h;
}

.section_3_descriptions {
    padding: 20px;
    font-size: 18px;
    color: white;

    border: 2.5px solid lightblue;
}

/*########## FOURTH SECTION ##########*/
#section_4{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: .5fr .5fr 1fr .5fr .5fr;
    grid-template-areas:"a a b c c" 
                        "d d e f f";
    
    background-color: rgb(20, 20, 20);
    font-size: 40px;

    border: solid red;
}

#section_4 > * {
    width: 100%;
    height: 100%;
}

.section_4_part:nth-of-type(1){
    grid-area: a;

    text-align: center;
    align-content: center;

    border: solid violet;
    p{
        font-size: 20px;
        color: white;
    }
}
.section_4_part:nth-of-type(2){
    grid-area: b;

    text-align: center;
    align-content: center;

    border: solid violet;
    
    p{
        color: rgb(255, 153, 0);

        border: solid blue;
    }
}
.section_4_part:nth-of-type(3){
    grid-area: c;

    text-align: center;
    align-content: center;

    border: solid violet;
    p{
        font-size: 20px;
        color: white;
    }
}
.section_4_part:nth-of-type(4){
    grid-area: d;

    border: solid violet;
    div{
        display: flex;
        justify-content: center;

        border: solid greenyellow; 
        button{
            height: 50px;
            width: 50px;

            margin-left: 20px;
            margin-right: 20px;

            border: solid violet;
        }
    }
}
.section_4_part:nth-of-type(5){
    grid-area: e;
    text-align: center;

    border: solid violet;

    button{
        height: 40px;
        width: 120px;
        font-size: 18px;
        border-radius: 10px;
        background-color: rgb(255, 153, 0);
        a{
            color: black;
            text-decoration: none;
        }
    }
}
.section_4_part:nth-of-type(6){
    grid-area: f;

    border: solid violet;
    div{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;

        border: solid greenyellow; 
        button{
            height: 50px;
            width: 50px;

            margin-left: 20px;
            margin-right: 20px;

            border: solid violet;
        }
    }
}

.insta{
    background-image: url(../images/insta.png);
    background-size:cover;
    border-radius: 15px;
}

.facebook{
    background-image: url(../images/facebook.png);
    background-size:cover;
    border-radius: 15px;
}

.mail{
    background-color: rgb(41, 41, 41);
    background-image: url(../images/mail.png);
    background-size:cover;
    border-radius: 15px;
}