* {
    box-sizing: border-box;
    
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(41, 41, 41);
}

/*FIRST SECTION*/
#section_1{
    display: flex;
    
    margin-top: 0px;
    padding-top: 60px;
    align-items: center;

    font-size: 40px;

    height: 700px;
}

#section_1_intestation{
    display: block;
    position: relative;
    
    width: 50%;
    height: 80%;

}

#section_1_intestation_title{
    display: flex;
    
    color: rgb(255, 153, 0);


    margin: 0px;
    width: 100%;
    height: 50%;

    justify-content: center;
    align-items: center;
    text-align: center;
}

#section_1_intestation_subtitle{
    display: flex;
    

    margin: 0px;
    width: 100%;
    height: 30%;

    justify-content: center;
    align-items: center;
    text-align: center;
    
}

#section_1_intestation_buttons{
    display: flex;
    
    border-color: brown;

    margin: 0px;
    width: 100%;
    height: 10%;

    justify-self: end;
    justify-content: center;
    text-align: center;
}

.section_1_intestation_button{
    font-size: 18px;
    border-radius: 10px;
    background-color: rgb(255, 153, 0);
    height: 40px;
    width: 120px;
    margin-left: 10%;
    margin-right: 10%;
}

.section_1_intestation_button a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#section_1_image{
    display: flex;
    position: relative;
    

    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;
}

#section_1_image{
    img{
        display: flex;
        position: inherit;

        border-radius: 40px;
        object-fit: cover;

        width: 80%;
        height: 80%;
    }
}


/*########## SECOND SECTION ##########*/
#section_2{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:"a a"
                        "b c";
    
    
    font-size: 40px;
    padding: 0px;
}

#section_2 > * {
    width: 100%;
    height: 100%;
}

#section_2_Title{
    grid-area: a;
    text-align: center;
    margin: 0;

    color: rgb(255, 153, 0);

}

#section_2_Images{
    grid-area: b;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:"a b"
                        "c d";


    justify-content: center;
    text-align: center;
}
.section_2_Image{ 
    align-content: center;
    img{
        background-color: rgb(255, 153, 0);
        border-radius: 15px;

    }
}



#section_2_TimeTable {
    grid-area: c;
    align-content: center;
    margin: 0;
}

#section_2_TimeTable_Row_Title{
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 153, 0);
}

.section_2_TimeTable_Row{
    display: flex;
    justify-content: space-between;


    font-size: 20px;

    margin-bottom: 0px;
    padding-left: 10%;
    padding-right: 10%;

    color: white;
    
    align-items: center;
    width: 100%;
    height: 10%;
}

/*########## THIRD SECTION ##########*/
#section_3{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: .75fr 1fr .75fr;
    gap: 20px;
    grid-template-areas:"a a a" 
                        "b c d"
                        "e c f"
                        "g c h";
    

    font-size: 40px;
}

#section_3 > * {
    width: 100%;
    height: 100%;
}

#section_3_title {
    grid-area: a;
    text-align: center;
    margin: 0;
    color: white;
}

.section_3_center_column {
    grid-area: c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    button{
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        border-radius: 10px;
        background-color: rgb(255, 153, 0);
        height: 40px;
        width: 120px;
        a{
            color: black;
            text-decoration: none;
        }
    }
}

.section_3_center_column img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section_3_center_column .button_bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.section_3_names {
    margin: 0;
    text-align: center;
    color: white;
}
.section_3_names:nth-of-type(1) {
    grid-area: b;
}
.section_3_names:nth-of-type(2) {
    grid-area: d;
}
.section_3_images:nth-of-type(1) {
    grid-area: e;
}
.section_3_images:nth-of-type(2) {
    grid-area: f;
}

.section_3_descriptions {
    margin: 0;
    padding: 20px;
    font-size: 18px;
    color: white;
}

.section_3_descriptions:nth-of-type(1) {
    grid-area: g;
}
.section_3_descriptions:nth-of-type(2) {
    grid-area: h;
}

/*########## FOURTH SECTION ##########*/
#section_4{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: .5fr 1fr .5fr 1fr .5fr;
    grid-template-areas:"a b b b c" 
                        "a d e f c";
    
    background-color: rgb(30, 30, 30);
    font-size: 40px;
}

#section_4 > * {
    width: 100%;
    height: 100%;
}

.section_4_part:nth-of-type(1){
    grid-area: a;
    text-align: center;

    div{
        display: flex;
        flex-direction: column;
        button{
            height: 50px;
            width: 50px;
        }
    }
}
.section_4_part:nth-of-type(2){
    grid-area: b;

    align-content: center;
    p{
        
        text-align: center;
        color: rgb(255, 153, 0);
        margin: 0px;
        padding: 0px;
    }
}
.section_4_part:nth-of-type(3){
    grid-area: c;
    text-align: center;
    justify-content: center;
    div{
        display: flex;
        flex-direction: column;

        button{
            height: 50px;
            width: 50px;
        }
    }
}
.section_4_part:nth-of-type(4){
    grid-area: d;
    text-align: center;
    align-content: center;
    p{
        font-size: 20px;
        color: white;
        margin: 0px;
        padding: 0px;
    }
}
.section_4_part:nth-of-type(5){
    grid-area: e;
    text-align: center;
    button{
        font-size: 18px;
        border-radius: 10px;
        background-color: rgb(255, 153, 0);
        height: 40px;
        width: 120px;
        a{
            color: black;
            text-decoration: none;
        }
    }
}
.section_4_part:nth-of-type(6){
    grid-area: f;
    text-align: center;
    align-content: center;
    p{
        font-size: 18px;
        color: white;
        margin: 0px;
        padding: 0px;
    }
}

.insta{
    background-image: url(../images/insta.png);
    background-size:cover;
    border-radius: 15px;
}

.facebook{
    background-image: url(../images/facebook.png);
    background-size:cover;
    border-radius: 15px;
}

.mail{
    background-color: rgb(41, 41, 41);
    background-image: url(../images/mail.png);
    background-size:cover;
    border-radius: 15px;
}