* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(41, 41, 41);
}

/*To create an horizontal Menù*/
nav{
    display: flex;
    position: fixed;
    z-index: 1;
    background: rgb(255, 180, 1); 
    height: 60px; width: 100%; 
    
    border-style:solid;
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

/*place the logo*/
nav img{
    display: flex;
    position: relative;
    margin: 2px;
    right: 4%;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(255, 153, 0);
    height: 40px;
    width: 120px;
}

/*Place the main menù*/
nav ul{
    display: flex;
    border-style: solid;
    border-color: green;
    height: 100%;
    width: 50%;
    padding: 0;
    text-align: center;
    list-style: none;
    justify-content: center;
}

/*Display the Parent section in an horizaontal way on the nav bar*/
nav ul li{
    display: inline-block;
    border-style: solid;
    border-color: yellow;
    height: 100%;
    width: 100%;
}

/*Format the style of the parent section*/
nav ul li a{
    display: block;
    border-style: solid;
    border-color: red;
    height: 100%;

    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    align-content: center;
}

/*Hide the subsection*/
nav ul ul{
    display: none;
}

/*Show the subsection if the mouse hover on it*/
nav ul li:hover ul{
    background-color: rgb(41, 41, 41);
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    border-style: solid;
    border-color: aqua;
    width: 90%;
    height: 1000%;
}

/*To display the sub-sections under the parent section BIG MENU*/
nav ul li li{
    position: relative;
    float: none;
    height: 20%;
    width: 20%;

    border-style:solid;
    background: rgb(255, 180, 1);
    border-color: rgb(82, 30, 93);
    border-radius: 5px;
}

/*Place the button*/
nav button{
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 2px;
    left: 4%;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgb(255, 153, 0);
    height: 40px;
    width: 120px;
}
nav button a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/*Adjust the BIG MENU*/
#menu_exhibitions{
    display: flex;
    position: absolute;

    border-style: solid;
    border-color:rgb(0, 4, 255);

    top: 0px;
    width: 100%;
    height: 80%;

    align-items: center;
    justify-content: center;
    justify-items: center;
}

nav ul li ul div#menu_exhibitions li{
    border-style: solid;
    border-color: yellow;

    height: 200px;
    width: 200px;

    margin: 2%;
}

#menu_button_section{
    display: flex;
    position: absolute;

    border-style: solid;
    border-color:rgb(8, 0, 255);

    bottom: 0px;
    width: 100%;
    height: 20%;

    align-items: center;
    justify-content: center;
    justify-items: center;
}

.menu_button{
    border-style: solid;
    border-color: violet;

    margin: 10px;
    height: 40px;
    width: 120px;
}

#Nutella{
    background: fixed;
    background-image: url("../images/nutella.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;
}
#Disney{
    background: fixed;
    background-image: url("../images/disney.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;
}
#Coins{
    background: fixed;
    background-image: url("../images/coins.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px 150px;
    background-color: white;
}
#Lego{
    background: fixed;
    background-image: url("../images/lego.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px 200px;
    background-color: white;
}