* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#section_0{
    display: flex;
    position: fixed;
    z-index: 2;

    height: 60px;
    width: 100%;

    justify-content: center;
    align-items: center;

    background: rgb(255, 180, 1);
}

.section_0_logo{

    height: 100%;
    width: 25%;
    text-align: center;

    img{
        margin-top: 7px;
        height: 45px;
        width: 45px;
    }
}

.section_0_menu{

    display: flex;
    height: 100%;
    width: 50%;

    ul{
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
        list-style: none;

        li{
            height: 100%;
            width: 100%;
            a{
                display: block;
                height: 100%;
                font-size: 18px;
            
                align-content: center;
                text-decoration: none;
                color: rgb(0, 0, 0);
            }
        }
        ul{
            display: none;
        }
        li:hover ul{
            display: flex;
            flex-direction: column;
            position: absolute;

            top: 60px;
            left: 50%;
            height: 600px;

            transform: translateX(-50%);
            flex-direction: column;
            background-color: rgb(41, 41, 41);
        }  
        #menu_exhibitions{
            display: flex;
            position: absolute;
            width: 100%;
            height: 80%;
            justify-content: center;
            align-items: center;
            
            top: 0%;
            a{
                border-radius: 15px;
                height: 200px;
                margin: 10px;
                width: 200px;
            }
        }
        #menu_button_section{
            display: flex;
            position: absolute;
            width: 100%;
            height: 20%;
            bottom: 0%;

            justify-content: center;
            align-items: center;
            
            button{
                height: 40px;
                width: 120px;
                margin: 10px;
                border-radius: 10px;
                background-color: rgb(255, 153, 0);
            }
            
        }
    }    
}

.section_0_button{
    height: 100%;
    width: 25%;
    text-align: center;
    button{
        margin-top: 10px;
        height: 40px;
        width: 120px;
        border-radius: 10px;
        background-color: rgb(255, 153, 0);
        a{
            text-decoration: none;
            color: rgb(0, 0, 0);
            font-size: 18px;
        }
    }
}

#Nutella{
    background: fixed;
    background-image: url("../images/nutella.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;
}
#Disney{
    background: fixed;
    background-image: url("../images/disney.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;
}
#Coins{
    background: fixed;
    background-image: url("../images/coins.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px 150px;
    background-color: white;
}
#Lego{
    background: fixed;
    background-image: url("../images/lego.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px 200px;
    background-color: white;
}





